<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/tour">Tour</a>
    <a href="/music">Music</a>
    <a href="/merch">Merch</a>
    <a href="/media">Media</a>
    <a href="/links">Links</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
